<link rel="stylesheet" href='/stylesheets/dives.css' />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <ul class="dive-info">
                <li>
               Dive No.    <%= dive.number %>
                </li>
                <li>
                 Date:   <%= dive.date %>
                </li>
                <li>
                 Location:   <%= dive.location %>
                </li>
                <li>
                Objective:    <%= dive.objective %>
                </li>
                <li>
                Visibility:    <%= dive.visibility %> meters
                </li>
                <li>
                Time:    <%= dive.totalTime %> minutes
                </li>
                <li>
                 Depth:   <%= dive.depth %> meters
                </li>
                <li>
                 Observations:   <%= dive.observations %>
                </li>
            </ul>
        </div>
    </div>
    <button id="update-button" class="btn btn-info"><a href="/api/dives/<%=dive._id%>/edit">Update Dive</a></button>
    
    <button id="delete-button" class="btn btn-danger"><a href="/api/dives/<%=dive._id%>">Delete Dive</a></button>
    <button id="button-detail" class="btn btn-success"><a href="/api/dives">Back to Dives</a></button>
</div>