<h1 class="new-h1">Divex</h1>
<div id="edit-log">
    <form action="/api/dives/<%=dive._id%>" method="POST">
        <div class="inputBox">
        	<label for="number">Dive No.</label>
            <input type="number" name="number" value="<%= dive.number %>">
        </div>
        <div class="inputBox">
        	<label for="date">Date</label>
            <input type="date" name="date" value="<%= dive.date %>">
        </div>
        <div class="inputBox">
        	<label for="location">Location</label>
            <input type="text" name="location" value="<%= dive.location %>">
        </div>
        <div class="inputBox">
        	<label for="objective">Objective</label>
            <input type="text" name="objective" value="<%= dive.objective %>">
        </div>
        <div class="inputBox">
        	<label for="visibility">Visibility</label>
            <input type="number" name="visibility" value="<%= dive.visibility %>">
        </div>
        <div class="inputBox">
        	<label for="totalTime">Total Time</label>
            <input type="number" name="totalTime" value="<%= dive.totalTime %>">
        </div>
        <div class="inputBox">
        	<label for="depth">Depth</label>
            <input type="number" name="depth" value="<%= dive.depth %>">
        </div>
        <div class="inputBox">
        	<label for="observations">Observations</label>
            <input type="text" name="observations" value="<%= dive.observations %>">
        </div>
        <button class="btn btn-danger" type="submit">Update the dive</button>
    </form>
         
        <button id="back-button" class="btn btn-info"><a href="/api/dives">Back to Dives</a></button>
</div>

<% if (typeof(errors) !== 'undefined'){ %>
  <div class="alert alert-danger">
  <ul>
    <% for (let error in errors){ %>
      <li><%= errors[error].message %></li>
    <% } %>
  </ul>
  </div>
<% } %>