<h1 class="caps" id="gallery-h1"><%= dive.location %></h1>
<style>
#map {
    height: 400px;
    width: 80%;
    margin-left: 140px;
    margin-top: 15px;
}
</style>

<% if (dive.lat === null || dive.lng === null) { %>
<h4 id="empty-h4">Add Coordinates to Display Maps</h4>
    <div class="empty-location">
    </div>  
<% } else{ %> 
<div id="map"></div>
<% } %>

<button id="location-btn" class="btn btn-info"><a href="/api/dives">Back to Dives</a></button>

<script type="text/javascript">
 // GOOGLE MAPS


	function initMap() {


	const map = new google.maps.Map(document.getElementById('map'), {

    zoom: 12,
    center: {lat: <%=dive.lat%>, lng: <%=dive.lng%>},
    styles: 
[
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#444444"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2f2f2"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#46bcec"
            },
            {
                "visibility": "on"
            }
        ]
    }
]
  });

    var marker = new google.maps.Marker({
    position: {lat: <%=dive.lat%>, lng: <%=dive.lng%>},
    title:"Hello World!"
});

marker.setMap(map);


	}




</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV8NFUm86uf5q6hi2eclUYf_ud6KbTYnQ&callback=initMap"
    ></script>
